footer.bg-black.text-white.py-8
    .container.mx-auto.flex.justify-between
        .footer-section
            h3.text-lg.font-bold.text-center Horario de Apertura
            p Lunes a Sábado: 8:00 AM - 8:00 PM
            p Domingo: 10:00 AM - 5:00 PM
        .footer-section
            h3.text-lg.font-bold.text-center Información de Contacto
            p Dirección: El As De La Limpieza, Col Centro, 73080 Xicotepec de Juárez, Pue.
            p Teléfono: 775 784 9647
            p Correo Electrónico: as.limpieza@gmail.com
        .footer-section
            h3.text-lg.font-bold.text-center Redes Sociales
            .container.flex.items-center.space-x-1.text-sm
                a(href='https://www.facebook.com', target='_blank')
                    img(src='/img/facebook.png', alt='Facebook', style='max-width: 50px;')
                a(href='https://www.twitter.com', target='_blank')
                    img(src='/img/x.png', alt='X', style='max-width: 50px;')
                a(href='https://www.instagram.com', target='_blank')
                    img(src='/img/ig.png', alt='Instagram', style='max-width: 50px;')
    .footer-section.text-center.mt-customM1
        p © 2023 As de la Limpieza
