header.bg-customGreen2.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.font-extrabold.text-center(class="text-customGreen5") As
            span.font-normal(class="text-customGreen5")     Limpieza
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white")
            a(href="/home" class="bg-customGreen3 py-2 px-10 rounded-lg hover:bg-customGreen4") Home 
            a(href="/products" class="bg-customGreen3 py-2 px-10 rounded-lg hover:bg-customGreen4") Productos 
            a(href="/shoppingCart" class="bg-customGreen3 py-2 px-10 rounded-lg hover:bg-customGreen4") Carrito   
            a(href="/login" class="bg-customGreen3 py-2 px-10 rounded-lg hover:bg-customGreen4") Login                  