extends ../layout/index 
block styles
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block content
  body
    main.container.mx-auto.py-8
      section
        h2.text-4xl.font-bold.mb-4.text-center ¿Quiénes somos?  
        div.flex.items-center.mb-12
          img(src='/img/tienda.jpg', alt='Imagen de la tienda', class='rounded-lg shadow-md w-1/4')
          div.pl-8
            p.text-lg
              | "El As de la Limpieza" es mucho más que una tienda de productos de limpieza; somos un compromiso con la calidad, la sostenibilidad y la satisfacción del cliente. Desde nuestros inicios, hemos estado en una misión constante para ofrecer soluciones de limpieza innovadoras y eficaces. Nos enorgullece ser una fuente confiable de productos de limpieza a granel, proporcionando a nuestros clientes la oportunidad de adquirir artículos esenciales de manera sostenible y asequible. Nos diferenciamos por la calidad de nuestros productos y nuestro enfoque en la responsabilidad ambiental. Nuestro equipo está compuesto por apasionados defensores de la limpieza sostenible, comprometidos con ofrecer productos que no solo limpien, sino que también cuiden nuestro entorno. Ya sea que busques detergentes ecológicos, productos de limpieza para el hogar o suministros comerciales, "El As de la Limpieza" es tu destino para todo lo relacionado con la limpieza.

              | Nos diferenciamos por la calidad de nuestros productos y nuestro enfoque en la responsabilidad ambiental. Nuestro equipo está compuesto por apasionados defensores de la limpieza sostenible, comprometidos con ofrecer productos que no solo limpien, sino que también cuiden nuestro entorno. Ya sea que busques detergentes ecológicos, productos de limpieza para el hogar o suministros comerciales, "El As de la Limpieza" es tu destino para todo lo relacionado con la limpieza.

      section
        h2.text-4xl.font-bold.mb-4.text-center ¿Por qué escogernos?
        p.text-lg
          | Al elegir "El As de la Limpieza", eliges calidad, compromiso y sostenibilidad. Nuestra gama de productos no solo está diseñada para brindar resultados impecables en la limpieza, sino que también refleja nuestro compromiso con prácticas empresariales éticas y respetuosas con el medio ambiente. Aquí hay algunas razones para escogernos:

          ul.list-disc.ml-8
            li.text-lg
              | Calidad Inigualable: Ofrecemos productos de limpieza de la más alta calidad, asegurándonos de que cada compra proporcione resultados excepcionales.

            li.text-lg
              | Sostenibilidad: Nos esforzamos por reducir nuestro impacto ambiental al ofrecer opciones de limpieza sostenibles y respetuosas con el medio ambiente.

            li.text-lg
              | Variedad de Productos: Ya sea que necesites suministros para el hogar o productos comerciales a granel, tenemos una amplia variedad para satisfacer todas tus necesidades de limpieza.

            li.text-lg
              | Servicio al Cliente Excepcional: Nuestro equipo está aquí para brindarte asesoramiento y asistencia, garantizando una experiencia de compra positiva y sin complicaciones.

              | En "El As de la Limpieza", creemos que la limpieza va más allá de los productos; es un compromiso con la salud, la sostenibilidad y la satisfacción del cliente.

      section
        h2.text-4xl.font-bold.mb-4.text-center Nos ubicamos en: 
        #map.h-96
        p.text-lg
          | Nuestra ubicación está estratégicamente ubicada para servir a nuestra comunidad con facilidad. Estamos comprometidos a ser accesibles y convenientes para nuestros clientes. Actualmente, estamos en el proceso de integrar un mapa interactivo en esta sección para brindarte una forma fácil de encontrarnos. Mientras tanto, no dudes en contactarnos para obtener direcciones precisas o asistencia para llegar a "El As de la Limpieza". ¡Esperamos verte pronto en nuestra tienda!

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")

    script( src="/js/map.js") 